@import "mocha.css";

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: FontAwesome, "Noto Sans", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @crust;
  border-radius: 4px;
  color: @text;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

#workspaces {
  margin: 0 5px;
  padding: 0 10px;
  background-color: @crust;
  border-radius: 4px;
}

#workspaces button {
  margin: 5px 4px;
  padding: 0 5px;
  background-color: @crust;
  border-radius: 4px;
  color: @subtext1;
  transition: background-color 0.5s ease;
}

#workspaces button:hover {
  background-color: @mauve;
  color: #ffffff;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button:hover.active {
  color: #ffffff;
}

#clock, #system, #temperature, #network, #pulseaudio,
#tray, #custom-clipboard, #custom-logout, #bluetooth {
  margin: 5px 3px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: @mantle;
  color: @surface0;
}

.modules-right {
  margin-right: 10px;
}

#network {
  background-color: @green;
}

#system {
  background-color: @peach;
}

#temperature {
  background-color: @teal;
}

#pulseaudio {
  background-color: @lavender;
}

#clock {
  background-color: @mauve;
}

#custom-clipboard {
  background-color: @flamingo;
}

#custom-logout {
  background-color: @red;
}
