[Unit]
Description=Rebind Bluetooth USB dongle to work around btusb init failure
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/local/bin/rebind-bt-dongle.sh

[Install]
WantedBy=multi-user.target
