@import "mocha.css";

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: FontAwesome, "Noto Sans", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  border-radius: 0px;
  color: @text;
}

#workspaces {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 5px;
  background-color: @crust;
  border: 2px solid @mauve;
  border-radius: 5px;
}

#workspaces button {
  padding: 0 5px;
  background-color: @crust;
  border-radius: 5px;
  color: @subtext1;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @mantle;
  color: @subtext1;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button:hover.active {
  color: @subtext1;
}

#clock,
#system,
#network,
#pulseaudio,
#tray,
#custom-clipboard,
#custom-logout,
#bluetooth {
  margin: 5px 4px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: @crust;
  color: @text;
  font-size: 14px;
}

.modules-right {
  margin-right: 10px;
}

#network {
  border: 2px solid @green;
}

#system {
  border: 2px solid @peach;
}

#pulseaudio {
  border: 2px solid @lavender;
}

#clock {
  margin: 5px 0px 5px 4px;
  border: 2px solid @pink;
}

#custom-clipboard {
  border: 2px solid @flamingo;
}

#custom-logout {
  border: 2px solid @red;
}

#tray {
  border: 2px solid @maroon;
}

